{% extends 'base.html.twig' %} {% block title %}Product Owner{% endblock %} {%
block body %}
<div>
    <h1>Product Owner</h1>

    <h2>Annonces de trésorerie pour tous les comptes</h2>

    <table>
        <thead>
            <tr>
                <th>N° de SIREN</th>
                <th>Raison sociale</th>
                <th>Nombre transactions</th>
                <th>Devise</th>
                <th>Montant total</th>
            </tr>
        </thead>
        <tbody>
            {% for compte in comptes %}
            <tr>
                <td>{{ compte.getNumeroSiren() }}</td>
                <td>{{ compte.getLabel() }}</td>
                <td>TEST</td>
                <td>{{ compte.getDevise() }}</td>
                <td>TEST</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Exportation</p>
    <p>Par compte</p>
    <p>Exportation</p>
</div>
{% endblock %}
